        body{
        	background-color: #f9f8f8;
        	/*Change up*/
        	/*font-family: 'wingdings'*/
        	font-family: Comic Sans MS;
        }
        /*table Layout*/
        h2, th{
        	text-align: center;
        }
        th{
        	backgroundorder: 1px solid white;	
        	padding: 5px 20px 5px 20px;
        	background-color: #0fa3b1;
        }


        td{
        	border: 1px solid white;
        	text-align: left;
        	font-size: 20px;
        	margin: 10px;
	      	height: 45px;
}
h2, #courses th{
				text-align: center;
			}
			#courses th{
				border: 1px solid;
				border-color: rgb(204,204,204);
				font-size: 13px;
				font-family: arial, helvetica, sans-serif;
				background-color: rgb(238,238,238);
				padding: 5px 50px 5px 50px;
			}
			#courses td{
				border: 1px solid;
				border-color: rgb(238,238,238);
				border-right: none;
				border-left: none;
				text-align: center;
				font-size: 13px;
				font-family: arial, helvetica, sans-serif;
				margin: 10px;
				background-color: white;
			}
			input {
				border: 1px solid #0ca6f2;
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(149,192,255,.75);
				font-size: 22px;
				padding-left: 20px;
				height: 40px;
				width: 400px;
			}
			input[type="radio"] {
				width: 20px;
				height: 20px;
			}
			#course-container {
				height: 200px;
				width: 420px;
				font-family: arial, helvetica, sans-serif;
				display: block;
				overflow: auto;
			}
			#timetable {
				margin-left: auto;
				margin-right: auto;
				border-collapse: collapse;
				border-spacing: 0;
				float: right;
			}
			#courses {
				width: 410px;
				height: 467px;
				table-layout: fixed;
				border: 1px solid;
				border-color: rgb(204,204,204);
				background-color: white;
				display: block;
				overflow: auto;
				padding-left: 5px;
				padding-right: 5px;
			}
			.course {
				border: 1px solid lightgrey;
				padding: 15px 157px 15px 157px;
				cursor: pointer;
			}
			.time {
				text-align: right;
				padding: 15px 10px 15px 30px;
			}
			.timeslot {
				text-align: center;
			}
			.inline {
				display: inline-block;
			}
			.class {
				border: 1px solid;
				border-color: white;
				color: white;
				width: inherit;
				height: inherit;
				display: inline-block;
				background-color: purple;
			}


	#buttons{
		float:left;
	}



	#foodTable tr {
		border-bottom: 1px solid black;
		border-collapse: collapse; 

		padding: 15px 15px 15px 15px;
	}

	#foodTable td {
		border-bottom: 1px solid black;
		padding: 0 15px 0 15px;

	}
	thead{
		border-bottom: 1px solid black;
		background-color: cadetblue;
		color: white;
	}
	.location {
		border-bottom: 1px solid black;
		padding: 15px 15px 15px 15px;
	}
	#mapImg {
		border: 2px solid grey;

		width: 75%;
		height: 600; 
		float:left
	}
	#mapButtons {
		width: 20%;
		float:right;
		border: 2px solid grey;
		margin: auto;
		padding: 15px;
		background-color: #ded9e2;
		border-collapse: collapse; 
	}
	#mapTitle{
		text-align: center;  
	}
	#map{
		width: 90%;
		padding: 10px;
	}

	thead td{
		border-bottom: 1px solid black;
		background-color: cadetblue;
		color: white;
	}

	table{
		margin-left: auto;
		margin-right: auto;
	}

	#foodTable{
		border: 2px solid grey;
		padding: 15px;
		background-color: aliceblue;
		border-collapse: collapse; 
	}
	.fri, .sat, .sun, .weekend, .mon-thurs, .mon-fri{
		color: black;
	}

	#mapContainer{
		overflow: auto;
		padding: 15px 15px 15px 15px;
	}
	/*<!-- Need to go over this -->*/
	th{
		border: 1px solid white;	
		padding: 10px 40px 10px 40px;
		background-color: lightblue;
	}
	table{
		margin-left: auto;
		margin-right: auto;
		padding: 2px;
	}
	#home td{
		border: 1px solid white;
		text-align: left;
		font-size: 20px;
		margin: 10px;
		background-color: lightgray;
		height: 50px;
		width: 10%;
	}

	.class {
		background-color: lightgreen;
		opacity: 10%;
		font-size: 14px;
		border: 0.5px solid gray;
	}

	.classinfo{
		display: none;
		background-color: lightblue;
		border-radius: 1px;
		box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);  
		opacity: 10%;
		font-size: 14px;
		position: absolute;
	}

	.class:hover .classinfo{
		display: block;
	}

	#sidebar{
		float:left;
		padding-left: 5px;
		width: 10%;
	}

	#quote{
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	#in{
		border-radius: 20px;
		background-color: #ffffff;
		border: 2px solid #000000;
		width: 30%;
		padding:3%;
		margin-left: auto;
		margin-right: auto;
	}
	#in button{
		float:right;
		padding-bottom: 1%;
	}
	#in h2{
		float:left;
	}

	#quote h1{
		font-size: 350%;
		text-align: center;
/*		color: #f5bb00;
*/	}
	strong{
		color: #c20114
	}

	.btn-toolbar{
		float:right;
	}

	.beside{
		float:right;
		width:85%;
		padding:2%;
	}



